{% extends "base.html" %}

{% block content %}
<div class="center-card text-center">
    <h4 class="emerald-text mb-3">🔄 Reset Password</h4>
    <p>Enter your new password.</p>

    <form method="POST">
        <div class="mb-3">
            <input type="password" name="password" placeholder="New Password" class="form-control emerald-input"
                required>
        </div>
        <button type="submit" class="btn emerald-btn w-100">Reset Password</button>
    </form>
</div>
{% endblock %}