{% extends "base1.html" %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-success text-white">

            <h4>Add Delivery Address</h4>

        </div>

        <div class="card-body">

            <form method="POST">

                <div class="mb-3">

                    <label>Full Name</label>

                    <input type="text" name="fullname" class="form-control" required>

                </div>

                <div class="mb-3">

                    <label>Phone</label>

                    <input type="text" name="phone" class="form-control" required>

                </div>

                <div class="mb-3">

                    <label>Address</label>

                    <textarea name="address" class="form-control" required></textarea>

                </div>

                <div class="mb-3">

                    <label>City</label>

                    <input type="text" name="city" class="form-control" required>

                </div>

                <div class="mb-3">

                    <label>Pincode</label>

                    <input type="text" name="pincode" class="form-control" required>

                </div>

                <button type="submit" class="btn btn-success">

                    Save Address

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}