{% extends "base1.html" %}
{% block title %}User Login{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-4">

    <div class="card shadow-sm">
      <div class="card-body p-4">

        <h4 class="text-center mb-3 fw-bold">
          User Login
        </h4>

        <form method="POST">

          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
          </div>

          <!-- <div class="login-links">
            <a href="/forgot-password">Forgot Password?</a>
            <span>|</span>
            <a href="/user-register">Create Account</a>
          </div> -->

          <a href="{{ url_for('user_forgot_password') }}" class="small text-success">Forgot Password?</a>


          <div class="d-grid justify-content-center mt-3">
            <button class="btn btn-primary px-4">
              Login
            </button>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>

{% endblock %}